nav {
  //   background-color: red;
  height: 140px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 21px 40px 0 40px;

  .top {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    // background-color: aqua;
    .logo {
      height: 30px;
      width: 175px;
    }

    &__right {
      max-width: 300px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      p {
        margin: 0;
        margin-right: 80px;
      }
      .user {
        width: 75px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        .cart {
          position: relative;
          .cartCounter {
            // display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            right: -10px;
            top: -15px;

            height: 30px;
            width: 30px;
            border-radius: 30px;
            background-color: black;
            border: 2px solid white;

            display: none;
            p {
              color: white;
              margin: 0;
              font-size: 10px;
            }
          }
        }
      }
      #authModal {
        display: none;
        position: absolute;
        // height: 400px;
        width: 300px;

        background-color: white;
        box-shadow: 0 0 8px 4px rgb(206, 204, 204);

        top: 50px;
        right: 0;
        z-index: 1;
        padding: 10px;

        .form {
          padding: 10px;
          padding-top: 20px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          flex-direction: column;
          input {
            padding-left: 15px;
            background-image: none;
            background-color: transparent;

            width: 100%;
            height: 30px;
            margin-bottom: 10px;
            border-radius: 0;
          }
          button {
            width: 100%;
            height: 30px;

            color: white;
            background-color: rgb(58, 32, 20);
            border-radius: 30px;
            font-size: 18px;
          }
        }
        button {
          background-color: transparent;
          border: none;
          font-size: 15px;
        }
        .logout {
          display: none;
        }
      }
      .logoutModal {
        // height: 200px;
        hr {
          display: none;
        }
      }
    }

    input {
      height: 40px;
      width: 600px;
      border-radius: 40px;
      padding-left: 60px;
      background-color: #f3f5f5;
      border: 1px solid black;

      font-weight: 600;
      font-size: 12px;
      color: black;

      background-image: url(../images/search.png);
      background-size: 30px;
      background-position: 20px;
      background-repeat: no-repeat;
      // letter-spacing: 1px;
    }
    ::placeholder {
      color: black;
    }
  }
  .links {
    width: 100%;
    height: 40px;
    a {
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      text-decoration: none;
      margin-right: 25px;
      color: black;
    }
    .redA {
      color: red;
    }
  }
}
