* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 16px;
}

#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav {
  height: 140px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 21px 40px 0 40px;
}
nav .mobileInput {
  display: none;
}
nav .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
nav .top .mobile {
  display: none;
}
nav .top .logo {
  height: 30px;
  width: 175px;
}
nav .top__right {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
nav .top__right p {
  margin: 0;
  margin-right: 80px;
}
nav .top__right .user {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .top__right .user .cart {
  position: relative;
}
nav .top__right .user .cart .cartCounter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: -10px;
  top: -15px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: black;
  border: 2px solid white;
  display: none;
}
nav .top__right .user .cart .cartCounter p {
  color: white;
  margin: 0;
  font-size: 10px;
}
nav .top__right #authModal {
  display: none;
  position: absolute;
  width: 300px;
  background-color: white;
  -webkit-box-shadow: 0 0 8px 4px #cecccc;
          box-shadow: 0 0 8px 4px #cecccc;
  top: 50px;
  right: 0;
  z-index: 1;
  padding: 10px;
}
nav .top__right #authModal .form {
  padding: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav .top__right #authModal .form input {
  padding-left: 15px;
  background-image: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border-radius: 0;
}
nav .top__right #authModal .form button {
  width: 100%;
  height: 30px;
  color: white;
  background-color: #3a2014;
  border-radius: 30px;
  font-size: 18px;
}
nav .top__right #authModal button {
  background-color: transparent;
  border: none;
  font-size: 15px;
}
nav .top__right #authModal .logout {
  display: none;
}
nav .top__right .logoutModal hr {
  display: none;
}
nav .top input {
  height: 40px;
  width: 600px;
  border-radius: 40px;
  padding-left: 60px;
  background-color: #f3f5f5;
  border: 1px solid black;
  font-weight: 600;
  font-size: 12px;
  color: black;
  background-image: url(../images/search.png);
  background-size: 30px;
  background-position: 20px;
  background-repeat: no-repeat;
}
nav .top ::-webkit-input-placeholder {
  color: black;
}
nav .top ::-moz-placeholder {
  color: black;
}
nav .top :-ms-input-placeholder {
  color: black;
}
nav .top ::-ms-input-placeholder {
  color: black;
}
nav .top ::placeholder {
  color: black;
}
nav .deals {
  display: none;
}
nav .links {
  width: 100%;
  height: 40px;
}
nav .links a {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  margin-right: 2%;
  color: black;
}
nav .links .redA {
  color: red;
}

.mobile-nav {
  display: none;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -99;
}
.mobile-nav .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
  height: 300px;
}
.mobile-nav .mobile-menu a {
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.mobile-nav .mobile-bg {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 7;
}

@media screen and (max-width: 1200px) {
  nav .links a {
    font-size: 12px;
    margin-right: 7px;
  }
}
@media screen and (max-width: 925px) {
  nav .top .mainInput {
    display: none;
  }
  nav .top .mobile {
    display: block;
  }
  nav .top p {
    display: none;
  }
  nav .top .cart .cartCounter p {
    display: block;
  }
  nav .mobileInput {
    display: block;
    height: 60px;
    width: 100%;
    padding-left: 20px;
    background-color: #f3f5f5;
    border: 1px solid black;
    font-weight: 600;
    font-size: 12px;
    color: black;
    margin-bottom: 10px;
  }
  nav .links {
    display: none;
  }
  nav .deals {
    display: block;
    width: 100%;
    height: 30px;
    background-color: #a8a5a5;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 5px;
  }
  nav .deals p {
    margin: 0;
  }
}
@media screen and (max-width: 366px) {
  nav .top .logo {
    height: 30px;
    width: 125px;
  }
}
footer {
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .top-section {
  position: relative;
  height: 65px;
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  background-color: #3a2014;
  color: white;
}
footer .top-section p {
  margin: 0;
}
footer .top-section .text {
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .top-section .text .find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 140px;
}
footer .top-section .social-media {
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer .footer-links {
  width: 100%;
  min-height: 325px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid black;
}
footer .footer-links .column {
  height: 285px;
  width: 280px;
}
footer .footer-links .column .section {
  margin-bottom: 30px;
}
footer .footer-links .column .section .email {
  width: 261px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-links .column .section .email input {
  padding-left: 20px;
  height: 35px;
  width: 171px;
  border: 2px solid #a5a2a2;
  border-right: none;
}
footer .footer-links .column .section .email button {
  font-size: 15px;
  height: 35px;
  width: 90px;
  background-color: transparent;
  border: 2px solid #fcda18;
}
footer .footer-links .column h1 {
  font-size: 20px;
  font-weight: lighter;
}
footer .footer-links .column p {
  font-size: 15px;
  margin: 5px;
}
footer .copyright {
  font-size: 12px;
  font-style: italic;
  width: 645px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: gray;
}

@media screen and (max-width: 800px) {
  footer .top-section {
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .top-section .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .top-section .text .support {
    margin: 15px 0;
  }
  footer .footer-links {
    margin-left: 10px;
  }
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.coffee {
  width: 80%;
  max-width: 1200px;
}
.coffee .hero {
  width: 100%;
  height: 210px;
  background-image: url(../images/hero.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.coffee .dropdown-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.coffee .dropdown-row p {
  margin: 0 5px 0 0;
}
.coffee .dropdown-row .smScreen {
  display: none;
}
.coffee .dropdown-row .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.coffee .dropdown-row .filter .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 121px;
  color: gray;
  padding: 0 10px;
  font-size: 15px;
  background-color: transparent;
  height: 50px;
  border: 2px solid gray;
  margin: 10px 5px;
}
.coffee .dropdown-row .other p {
  font-size: 10px;
}
.coffee .dropdown-row .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.coffee .dropdown-row .sort p {
  font-size: 15px;
}
.coffee .cardContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 200px;
  position: relative;
}
.coffee .cardContainer .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 280px;
  height: 600px;
  -webkit-box-shadow: 0 0 8px 4px #cecccc;
          box-shadow: 0 0 8px 4px #cecccc;
}
.coffee .cardContainer .card .cardImg {
  width: 90%;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.coffee .cardContainer .card .cardText {
  height: 40%;
  width: 250px;
  position: relative;
}
.coffee .cardContainer .card .cardText button {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 250px;
  background-color: transparent;
  border: 2px solid #fcda18;
  font-size: 15px;
}

@media screen and (max-width: 850px) {
  .coffee .dropdown-row .smScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 5px;
    height: 50px;
    border: 2px solid black;
  }
  .coffee .dropdown-row .smScreen p {
    margin: 0;
  }
  .coffee .dropdown-row .filter {
    display: none;
  }
  .coffee .dropdown-row .other {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .coffee .hero {
    height: 125px;
  }
  .coffee .hero h1 {
    font-size: 22px;
    text-align: center;
  }
}
.userCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 80%;
  max-width: 1200px;
  min-height: 200px;
}
.userCart p {
  margin: 0;
}
.userCart .productsContainer {
  min-height: 295px;
  background-color: #e7e4df;
  border-radius: 25px;
  padding: 15px;
  width: 70%;
}
.userCart .productsContainer .item {
  background-color: white;
  width: 100%;
  height: 176px;
  margin-top: 15px;
  padding: 0 10px;
}
.userCart .productsContainer .item .top {
  width: 100%;
  position: relative;
}
.userCart .productsContainer .item .top button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}
.userCart .productsContainer .item .itemContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}
.userCart .productsContainer .item .itemContent .name {
  width: 100px;
}
.userCart .productsContainer .item .itemContent .itmbackground {
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.userCart .productsContainer .item .itemContent p {
  font-size: 12px;
}
.userCart .summary {
  margin-left: 10px;
  height: 295px;
  width: 28%;
  -webkit-box-shadow: 0 0 8px 4px #cecccc;
          box-shadow: 0 0 8px 4px #cecccc;
  border-radius: 25px;
  padding: 10px;
}
.userCart .summary h1 {
  font-size: 20px;
  font-weight: lighter;
}
.userCart .summary .prices {
  width: 100%;
  border-bottom: 1px dashed black;
  padding: 20px 0;
}
.userCart .summary button {
  font-size: 15px;
  height: 35px;
  width: 90px;
  background-color: transparent;
  border: 2px solid #fcda18;
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .userCart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .userCart :nth-child(n) {
    width: 100%;
  }
  .userCart .productsContainer {
    margin-bottom: 20px;
  }
  .userCart .productsContainer .cost {
    width: 100px;
  }
}